*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cont_body{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        #009688 0%, #009688 15vh, #DCDBD1 15vh,#DCDBD1 100vh
    );
}


img{
    max-width: 100%;
    border-radius: inherit;
}

i:hover{
    color: rgb(218, 218, 218);
}

.container{
    width: 80vw;
    height: 90vh;
    margin: 0 auto;
    margin-top: 5vh;
    display: flex;
}

.box_left{
    width: 35%;
    height: 100%;
    background-color: white;
}

.box_right{
    width: 65%;
    height: 100%;
}

.contacts{
    overflow-y: scroll;
    height: 64vh;
}

.contacts .user_box:hover{
    background-color: #E9EBEB;
}

.user_box{
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: inherit;
    background-color: white;
}

.user_box a {
    margin-left: 10px;
    margin-right: 10px;
}

.box_notify{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 10vh;
    width: 100%;
    background-color: #8EDAFC;
    padding-left: 15px;
}

.box_notify i{
    margin-right: 5px;
}

.box_search{
    height: 8vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
}

.box_search input{
    border: none;
    width: 90%;
    height: 80%;
}


.bell{
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: end;
    border-radius: 30px;
    background-color: white;
    color:#8EDAFC;
    margin-right: 10px;
}

.box_search i{
    margin-right: 5px;
}

.box_message{
    height: 74vh;
    width: 100%;
    background-image: url('../img/mine.jpg');
    overflow-y: scroll;
    padding-top: 15px;
}

.row_message{
    display: flex;
    width: 100%;
    min-height: 5vh;
    padding-left: 30px;
    padding-right: 30px;

}

.message_time{
    padding: 2px;
    right: 0;
    bottom: 0;
    position: absolute;
}

.sent_message{
    background-color: #D5F9BA;
    min-height: 5vh;
    min-width: 30%;
    margin-right: 10px;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    border-radius: 6px;
    padding-left: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 47%;
    position: relative;
    margin-bottom: 10px;
    position: relative;

}

.reiceved_message{
    background-color: white;
    min-height: 5vh;
    min-width: 30%;
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 6px;
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 47%;
    position: relative;
    margin-bottom: 10px;
    position: relative;
}

.box_sendmessage{
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F3EEEA;
    padding-left: 15px;
    padding-right: 15px;
}

.input_message{
     width: 80%;
     height: 70%;
     display: flex;
}

.input_message input{
    width: 100%;
    border: none;
}

.card{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.box_img{
    width: 40px;
    height: 40px; 
    border-radius: 40px;
    margin-left: 5px;
    margin-right: 5px;

}

textarea:focus, input:focus{
    outline: none;
}

.options{
    display: none;
    position: absolute;
    top: 90%;
    z-index: 90;
}

.options a {
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    width: 130px;
    cursor: pointer;
}

.activeOption{
    display: block;
}


/* Utilities  */


.m_right5{
    margin-right: 5px;
}

.al_center{
    align-items: center;
}

.back_EAEAEA{
    background-color: #EAEAEA;
}

.f_small{
    font-size: small;
}

.f_col_B1B1B1{
    color: #B1B1B1;
}

.f_col_BBB9C0{
    color: #BBB9C0;
}

.f_no_dec{
    text-decoration: none;
}

.flex_end{
    justify-content: flex-end;
}

.bord_right_lightGray{
    border-right: 1px solid lightgray;
}